 <div class="row">
  <div class="label">Method</div>
  <div class="field">
      <input type="text" name="entity.method" value="${entity?.method}"/>
  </div>
  <span class="error">${errors.forKey('entity.method')}</span>
</div>
 <div class="row">
  <div class="label">File</div>
  <div class="field">
      <input type="text" name="entity.file" value="${entity?.file}"/>
  </div>
  <span class="error">${errors.forKey('entity.file')}</span>
</div>
 <div class="row">
  <div class="label">Number</div>
  <div class="field">
      <input type="text" name="entity.number" value="${entity?.number}"/>
  </div>
  <span class="error">${errors.forKey('entity.number')}</span>
</div>
 <div class="row">
  <div class="label">Hash</div>
  <div class="field">
      <input type="text" name="entity.hash" value="${entity?.hash}"/>
  </div>
  <span class="error">${errors.forKey('entity.hash')}</span>
</div>
 <div class="row">
  <div class="label">Backtrace</div>
  <div class="field">
        <select name="entity.backtrace.id">
                      <option value="">(None)</option>              
        %{ models.Backtrace.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.backtrace?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.backtrace')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

