#{extends 'main.html' /}
<div class="hero-unit">
    <h2>Notice</h2>

    <h3>Created</h3>
    <p>${entity.created_at}</p>

    <h3>Api-Key</h3>
    <p>${entity.apiKey}</p>

    <h3>Environment</h3>
    <p>${entity.environment}</p>

    #{if entity.request}
    <h3>Request</h3>
    <p>${entity.request.summarize().raw()}</p>
    #{/if}

    <h3>Notifier</h3>
    <p>${entity.notifier}</p>
    #{form @Notices.update(), id:'createForm'}
    <input type="hidden" name="entity.resolved" value="1"/>
    <input type="hidden" name="entity.id" value="${entity?.id}"/>
    <button onclick="if (!confirm('Are you sure you want to resolved this Error?')) return false;" type="submit" class="btn btn-primary">
        <i class="icon-ok #{if entity.resolved}icon-white#{/if}">resolve</i>
    </button>
    #{if project_id}
    <a class="btn" href="@{Notices.setActiveProjectId(project_id)}">Back</a>
    #{/if}
    #{else}
    <a class="btn" href="@{Notices.index()}">Back</a>
    #{/else}
    #{/form}
</div>
<div class="row">
    <h3>Error</h3>
    <p>${entity.error}
    <pre class="prettyprint linenums">
${entity.error?.backtrace}
    </pre>
</div>