#{extends 'main.html' /}
<div class="hero-unit">
    <h2>Notice</h2>
    <dl class="dl-horizontal">
        <dt>Project</dt>
        <dd><a href="@{Projects.show(entity.project.id)}">${entity.project.name}</a></dd>
        <dt>Error</dt>
        <dd><a href="@{BacktraceErrors.show(entity.error.id)}">${entity.error}</a></dd>
        <dt>Environment</dt>
        <dd>${entity.environment}</dd>
        <dt>Created</dt>
        <dd>${entity.created_at}</dd>
        <dt>Notifier</dt>
        <dd>${entity.notifier}</dd>
    </dl>

    #{form @Notices.update(), id:'createForm'}
    <input type="hidden" name="entity.resolved" value="1"/>
    <input type="hidden" name="entity.id" value="${entity?.id}"/>
    <button onclick="if (!confirm('Are you sure you want to resolved this Error?')) return false;" type="submit" class="btn btn-primary">
        <i class="icon-ok #{if entity.resolved}icon-white#{/if}">resolve</i>
    </button>
    #{if project_id}
    <a class="btn" href="@{Notices.setActiveProjectId(project_id)}">Back</a>
    #{/if}
    #{else}
    <a class="btn" href="@{Notices.index()}">Back</a>
    #{/else}
    #{/form}
</div>
<div class="row">
    <div class="span1"></div>
    <div class="span11">
        #{if entity.request}
        <h3>Request</h3>
        <dl class="dl-horizontal">
            <dt>Url</dt>
            <dd>${entity.request.url}</dd>
            #{if entity.request.component}
            <dt>Component</dt>
            <dd>${entity.request.component}</dd>
            #{/if}
            #{if entity.request.action}
            <dt>Action</dt>
            <dd>${entity.request.action}</dd>
            #{/if}
        </dl>
        <table class="varList table">
            #{varList list:entity.request.params, name:'Params' /}
            #{varList list:entity.request.session, name:'Session' /}
            #{varList list:entity.request.cgiData, name:'CGI-Data' /}
        </table>
        #{/if}
    </div>
</div>
<div class="row">
    <div class="span1"></div>
    <div class="span11">
        <h3>Error</h3>
        <p>${entity.error}
        <pre class="prettyprint linenums">
${entity.error?.backtrace}
        </pre>
    </div>
</div>
