#{extends 'main.html' /}
<div class="row">
    <div class="span10">
        <h1>Errors <small>for ${project.name}</small></h1>
        <table class="entity error table">
            <thead>
                #{if entities.size() == 0}
                <tr><th colspan="5">no Errors found</th></tr>
                #{/if}
                #{else}
                <tr>
                    <th class="actions"><!-- actions --></th>
                    <th>Class</th>
                    <th>Message</th>
                    <th>Notices</th>
                    <th>Backtrace</th>
                </tr>
                #{/else}
            </thead>
            <tbody>
	#{list items:entities, as:'entity'}
                <tr>
                    <td>
                        <a class="btn" href="@{BacktraceErrors.show(entity.id)}"><i class="icon-eye-open"></i></a>
                        <a class="btn" href="@{BacktraceErrors.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;"><i class="icon-trash"></i></a>
                    </td>
                    <td>${entity.clazz}</td>
                    <td>${entity.message}</td>
                    <td>
                        <span class="badge #{if entity.notices?.size() > 1}badge-important#{/if}">${entity.getNotices().size()}</span>
                    </td>
                    #{if traceId && entity.backtrace.id == traceId}
                    <td><a class="btn" href="@{BacktraceErrors.index()}"><i title="hide Backtrace" class="icon-minus">hide</i></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <pre class="prettyprint lang-html linenums prettyprinted">
                        ${trace}
                        </pre>
                    </td>
                    #{/if}
                    #{else}
                    <td><a class="btn" href="@{BacktraceErrors.index().add('trace_id', entity.backtrace.id)}"><i title="show Backtrace" class="icon-plus">show</i></a></td>
                    #{/else}
                </tr>
	#{/list}
            </tbody>
        </table>
    </div>
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Errors</li>
                <li><a href="@{BacktraceErrors.index()}">All</a></li>
                #{list items:projects, as:'p'}
                <li #{if project.id == p.id} class="active" #{/if}>
                    <a href="@{BacktraceErrors.projectIndex(p.id)}">${p.name}</a>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
</div>

