#{extends 'main.html' /}
<div class="row">
    <div class="span6 hero-unit">
        <h2>View Error <small>${entity.id}</small></h2>

        <h3>Class</h3>
        <p>${entity.clazz}</p>

        <h3>Message</h3>
        <p>${entity.message}</p>
        <p>
            <a class="btn btn-primary" href="@{BacktraceErrors.index}">Back</a>
        </p>
    </div>
    <div class="span4">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Notices</li>
                #{list items:entity.notices, as:'n'}
                <li #{if n.resolved } class="struck" #{/if}><a href="@{Notices.show(n.id)}">#${n.id} for ${n?.project.name}</a></li>
                #{/list}
            </ul>
        </div>
    </div>
    <div class="span10">
        <h3>Backtrace</h3>
        <pre class="prettyprint lang-html linenums prettyprinted">
${entity.backtrace}
        </pre>
    </div>
</div>