 <div class="row">
  <div class="label">Name</div>
  <div class="field">
      <input type="text" name="entity.name" value="${entity?.name}"/>
  </div>
  <span class="error">${errors.forKey('entity.name')}</span>
</div>
 <div class="row">
  <div class="label">Version</div>
  <div class="field">
      <input type="text" name="entity.version" value="${entity?.version}"/>
  </div>
  <span class="error">${errors.forKey('entity.version')}</span>
</div>
 <div class="row">
  <div class="label">Url</div>
  <div class="field">
      <input type="text" name="entity.url" value="${entity?.url}"/>
  </div>
  <span class="error">${errors.forKey('entity.url')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

