#{extends 'main.html' /}
<h2>View Notifier</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			version:
		</span>
		<span class="value">
      ${entity.version}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			url:
		</span>
		<span class="value">
      ${entity.url}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Notifiers.index}">Back</a>

