<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@{Application.index()}">FlowControl</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="${request.controller =~ /Notices/ ? 'active' : ''}"><a href="@{Notices.index()}">Notifications</a></li>
                    <li class="divider-vertical"></li>
                    <li class="${request.controller =~ /Projects/ ? 'active' : ''}"><a href="@{Projects.index()}">Projects</a></li>
                    <li class="divider-vertical"></li>
                    <li class="${request.action =~ /about/ ? 'active' : ''}"><a href="@{Application.about()}">About</a></li>
                    <li class="divider-vertical"></li>
                    <li class="${request.controller =~ /Accounts/ ? 'active' : ''}"><a href="@{Accounts.index()}">Accounts</a></li>
                    <li class="${request.controller =~ /Notifiers/ ? 'active' : ''}"><a href="@{Notifiers.index()}">Notifiers</a></li>
                    <li class="${request.controller =~ /ServerEnvironments/ ? 'active' : ''}"><a href="@{ServerEnvironments.index()}">Enviroments</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>