#{if _list != null && _list.var?.size() > 0}
<thead>
    <tr>
        <th class="top">${_name}</th>
        <th>KEY</th>
        <th>VALUE</th>
    </tr>
</thead>
<tbody>
    #{list items:_list.var, as: 'v'}
    <tr>
        <td></td>
        <td>${v.key}</td>
        <td>
            <div class="varListContent">
                <ul>
                    #{list items: v.getContentAsList(), as: 'c'}
                    <li><pre>${c}</pre></li>
                    #{/list}
                </ul>
            </div>
        </td>
    </tr>
    #{/list}
</tbody>
#{/if}