#{extends 'main.html' /}
#{set title:'Home' /}
<div class="row">
    <div class="span4">
        <h2>Notices <small>during the last 24h</small></h2>
        <div class="nav thumbnail"><img alt="Graphs.notices" src="@{Graphs.notices()}.svg" /></div>
        <p>
            <a class="btn" href="@{Notices.index()}">View details »</a>
        </p>
    </div>
    <div class="span4">
        <h2>Notices <small>unresolved by Project</small></h2>
        <ul class="nav nav-tabs nav-stacked">
            #{list items:projects, as:'project'}
            <li><a href="@{Notices.setActiveProjectId(project.id)}"><span class="right badge #{if project.getUnresolvedNotices().size() > 0}badge-important#{/if}">${project.getUnresolvedNotices().size()}</span>${project.name}</a></li>
            #{/list}
        </ul>
        <p>
            <a class="btn" href="@{Projects.index()}">View details »</a>
        </p>
    </div>
    <div class="span4">
        <h2>Errors</h2>
        <ul class="nav nav-tabs nav-stacked">
            #{list items:errorList, as:'e'}
            <li><a href="@{BacktraceErrors.show(e.id)}"><span class="right badge #{if e.getUnresolvedNotices().size() > 1}badge-important#{/if}">${e.getUnresolvedNotices().size()}</span>${e}</a></li>
            #{/list}
        </ul>
        <p>
            <a class="btn" href="@{BacktraceErrors.index()}">View details »</a>
        </p>
    </div>
</div>