<!DOCTYPE html>

<html>
    <head>
        <title>FlowControl #{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/google-code-prettify/prettify.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <!-- Atom Feeds for your Projects -->
        <link href="@@{Feeds.index()}.xml" type="application/atom+xml" rel="alternate" title="All Notices" />
        <style type="text/css" >
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
        #{get 'moreScripts' /}
    </head>
    <body>
        #{mainHeader /}
        <div class="container">
            #{doLayout /}
            <footer class="navbar navbar-fixed-bottom">
                <div><a class="btn" target="_new" href="https://github.com/phaus/FlowControl/issues/new?title=${request.url}"><i class="icon-comment"></i> Issues</a></div>
                <div class="pull-right">&copy; PHL 2012</div>
            </footer>
        </div>
        <script src="@{'/public/js/jquery-1.7.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap-dropdown.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/google-code-prettify/prettify.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/flowcontrol.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </body>
</html>
