<!DOCTYPE html>

<html>
    <head>
        <title>FlowControl #{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/google-code-prettify/prettify.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-responsive.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <!-- Atom Feeds for your Projects -->
        <link href="@@{Feeds.index()}.xml" type="application/atom+xml" rel="alternate" title="All Notices" />
        #{get 'moreScripts' /}
    </head>
    <body>
        #{mainHeader /}
        <div class="container">
            #{doLayout /}
            <footer class="navbar">
                <hr />
                <div class="pull-right"><a target="_new" href="https://github.com/phaus">&copy; phaus 2012</a></div>
            </footer>
        </div>
        <script src="@{'/public/js/jquery-1.7.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap-dropdown.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/google-code-prettify/prettify.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/flowcontrol.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </body>
</html>
