#{extends 'main.html' /}
<h2>Update this Account</h2>
<div class="entity">
    <form method="post" action="@{Accounts.update()}" class="form-horizontal">
        <fieldset>
            <legend>Project Settings</legend>
	#{include 'Accounts/_form.html' /}
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" name="submit" value="Save" />
                <a class="btn" href="@{Accounts.index}">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
